In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import allplayers_wrangle as wr

In [2]:
def get_players_stats():
    stats = pd.read_csv('stats.csv')
    return stats.set_index('Player').sort_index(ascending=True)

In [3]:
stats = wr.get_players_stats()
stats

,Rk,Age,Team,GP,GS,MP,FG,FGA,2P,2PA,...,TOV,PF,PPG,FG_PCT,2P_PCT,3P_PCT,FT_PCT,TS_PCT,eFG_PCT,Pos
Player,,,,,,,,,,,,,,,,,,,,,
Aaron Brooks,65,33,MIN,32,1,5.9,0.9,2.2,0.5,1.2,...,0.3,0.9,2.3,0.406,0.447,0.355,0.727,0.508,0.486,G
Aaron Gordon,180,22,ORL,58,57,32.9,6.5,14.9,4.5,9.0,...,1.8,1.9,17.6,0.434,0.497,0.336,0.698,0.530,0.500,F
Aaron Harrison,202,23,DAL,9,3,25.9,2.1,7.7,1.1,2.9,...,0.3,3.0,6.7,0.275,0.385,0.209,0.765,0.392,0.341,G
Aaron Jackson,244,31,HOU,1,0,35.0,3.0,9.0,2.0,5.0,...,1.0,4.0,8.0,0.333,0.400,0.250,0.500,0.405,0.389,G
Abdel Nader,363,24,BOS,48,1,10.9,1.0,3.1,0.6,1.8,...,0.7,0.9,3.0,0.336,0.321,0.354,0.590,0.439,0.413,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Randolph,422,36,SAC,59,57,25.6,6.1,12.9,5.3,10.4,...,2.0,2.0,14.5,0.473,0.503,0.347,0.785,0.529,0.507,F-C
Zaza Pachulia,387,33,GSW,69,57,14.1,2.2,3.8,2.2,3.8,...,1.0,1.8,5.4,0.564,0.567,0.000,0.806,0.612,0.564,C
Zhou Qi,418,22,HOU,18,0,6.9,0.3,1.8,0.2,0.7,...,0.6,0.8,1.2,0.188,0.308,0.105,0.667,0.295,0.219,F-C
Álex Abrines,1,24,OKC,75,8,15.1,1.5,3.9,0.4,0.9,...,0.3,1.7,4.7,0.395,0.443,0.380,0.848,0.567,0.540,G-F
Ömer Aşık,23,31,CHINOP,18,0,10.1,0.5,1.2,0.5,1.2,...,0.5,1.1,1.2,0.409,0.409,NaN,0.308,0.397,0.409,C

In [4]:
def get_salaries():
    salaries = pd.read_csv('NBA_season1718_salary.csv')
    salaries.drop(columns=['Unnamed: 0','Tm'],inplace=True)
    salaries.rename(columns = {'season17_18' : 'salary'},inplace=True)
    return salaries.set_index('Player').sort_index(ascending=True)

In [5]:
salaries = get_salaries()
salaries

                   salary
Player
A.J. Hammons    1312611.0
Aaron Brooks    2116955.0
Aaron Gordon    5504420.0
Aaron Gray       452059.0
Abdel Nader     1167333.0
...                   ...
Zach Collins    3057240.0
Zach LaVine     3202217.0
Zach Randolph  12307692.0
Zaza Pachulia   3477600.0
Zhou Qi          815615.0

[573 rows x 1 columns]

In [6]:
ss = wr.prepare_ss()
ss

,rk,age,team,gp,gs,mp,fg,fga,2p,2pa,...,3p_pct,ft_pct,ts_pct,efg_pct,pos,salary,above_avg_scorer,above_avg_3ball,above_avg_ft,above_avg_ts
Player,,,,,,,,,,,,,,,,,,,,,
Aaron Brooks,65.0,33.0,MIN,32.0,1.0,5.9,0.9,2.2,0.5,1.2,...,0.355,0.727,0.508,0.486,G,2116955.0,0,0,0,0
Aaron Gordon,180.0,22.0,ORL,58.0,57.0,32.9,6.5,14.9,4.5,9.0,...,0.336,0.698,0.530,0.500,F,5504420.0,1,0,0,0
Abdel Nader,363.0,24.0,BOS,48.0,1.0,10.9,1.0,3.1,0.6,1.8,...,0.354,0.590,0.439,0.413,F,1167333.0,0,0,0,0
Al Horford,228.0,31.0,BOS,72.0,72.0,31.6,5.1,10.5,3.8,7.3,...,0.429,0.783,0.575,0.553,C,27734405.0,0,1,1,1
Al Jefferson,251.0,33.0,IND,36.0,1.0,13.4,3.1,5.8,3.1,5.7,...,0.000,0.833,0.563,0.534,C,9769821.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Collins,102.0,20.0,POR,66.0,1.0,15.8,1.7,4.4,1.2,2.7,...,0.310,0.643,0.475,0.458,C,3057240.0,0,0,0,0
Zach LaVine,286.0,22.0,CHI,24.0,24.0,27.3,5.7,14.8,3.9,9.7,...,0.341,0.813,0.499,0.442,G,3202217.0,1,0,1,0
Zach Randolph,422.0,36.0,SAC,59.0,57.0,25.6,6.1,12.9,5.3,10.4,...,0.347,0.785,0.529,0.507,F,12307692.0,0,0,1,0
Zaza Pachulia,387.0,33.0,GSW,69.0,57.0,14.1,2.2,3.8,2.2,3.8,...,0.000,0.806,0.612,0.564,C,3477600.0,0,0,1,1
Zhou Qi,418.0,22.0,HOU,18.0,0.0,6.9,0.3,1.8,0.2,0.7,...,0.105,0.667,0.295,0.219,F,815615.0,0,0,0,0

In [7]:
train, val, test = wr.wrangle_ss()
train.shape, val.shape, test.shape

((232, 35), (100, 35), (83, 35))

In [8]:
train.head()

,rk,age,team,gp,gs,mp,fg,fga,2p,2pa,...,3p_pct,ft_pct,ts_pct,efg_pct,pos,salary,above_avg_scorer,above_avg_3ball,above_avg_ft,above_avg_ts
Player,,,,,,,,,,,,,,,,,,,,,
Paul Zipser,538.0,23.0,CHI,54.0,12.0,15.3,1.5,4.3,0.8,2.3,...,0.336,0.760,0.445,0.425,G,1312611.0,0,0,0,0
Joe Ingles,237.0,30.0,UTA,82.0,81.0,31.4,4.1,8.8,1.6,3.1,...,0.440,0.795,0.623,0.609,F,14136364.0,0,1,1,1
Bismack Biyombo,48.0,25.0,ORL,82.0,25.0,18.2,2.2,4.3,2.2,4.3,...,0.000,0.650,0.556,0.520,C,17000000.0,0,0,0,1
Gerald Green,189.0,32.0,HOU,41.0,2.0,22.7,4.1,10.1,1.4,2.8,...,0.369,0.850,0.566,0.540,G,947248.0,0,1,1,1
Rodney Purvis,417.0,23.0,ORL,16.0,2.0,18.1,2.2,6.7,1.4,3.4,...,0.250,0.867,0.423,0.388,G,46080.0,0,0,1,0